<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Migrate_Nintex_Workflow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Migrate_Nintex_Workflow.Properties.Settings>
            <setting name="Migrate_Nintex_Workflow_NintexWS_NintexWorkflowWS"
                serializeAs="String">
                <value>http://applicaties2.pggm.nl/_vti_bin/NintexWorkflow/Workflow.asmx</value>
            </setting>
        </Migrate_Nintex_Workflow.Properties.Settings>
    </applicationSettings>
  <appSettings>
  <add key="SourceSiteUrl" value="" />
  <add key="DestinationSiteUrl" value="" />
  <add key="DropLocation" value="" />
  </appSettings>
</configuration>